body{
  background: rgb(22, 22, 22);
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: whitesmoke;
}
*  {
  color: whitesmoke;
}

.container{
  width: 80%;
}
.flex-container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.space-evenly{
  justify-content: space-evenly;
}
.space-between{
  justify-content: space-between;
}

.nav{
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  background: rgb(50, 50, 50);
  padding: 1%;
}
.nav-btn{
  background: transparent;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  padding: 0.5%;
  transition: all 0.3s;
}
.nav-btn:hover{
  cursor: pointer;
  background: rgb(75, 75, 75);
}
.magic-item-square{
  width: 20%;
  margin: 2.5%;
  border: 1px solid whitesmoke;
  text-align: center;
}

.magic-item-square:hover{
  cursor: pointer;
}